* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

body {
    background-color: #FAACA8;
    background-image: linear-gradient(0deg, #ebc0fd 0%, #d9ded8 200%);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    width: 980px;
    margin: 0 auto;
}

header img {
    margin-top: -50px;
    margin-left: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

nav {
    height: 35px;
    background-color: #3E374E;
    font-family: 'Raleway', sans-serif;
}

nav .menu ul {
    list-style: none;
}

nav .menu ul li {
    float: left;
    line-height: 33px;
    padding: 0px 20px;
    margin-left: 20px;
}

nav .menu ul li a:hover {
    color: red;

}

nav .menu ul li a:active {
    color: yellow;
}

nav .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

nav .search {
    float: right;
    line-height: 35px;
    margin-right: 50px;
}

.avatar {
    width: 150px;
    height: 150px;
    background: url(https://lh3.googleusercontent.com/a/AEdFTp6gS9GPHAEtSbXMCJ35U0NWhKNkHE5_0y6gdAbahQ=s288-p-rw-no) 50% 90%;
    border: 5px solid violet;
    border-radius: 50%;
    margin: 10px auto;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {

    article h2,
    h3 {
        line-height: 35px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        color: transparent;
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
        -webkit-background-clip: text;
    }

}

h2, h3 {
    display: inline;
    margin-left: 37%;
}

h3 {
    margin-left: 47%;
}

h2:hover {
    color: violet;
}


h3:hover {
    color: violet;
}

article .story {
    width: 26%;
    height: 550px;
    padding: 3%;
    line-height: 1.6;
    border: 3px solid rgba(238, 130, 238, 0.493);
    margin-right: 1%;
    margin-top: 20px;
    float: left;
}

article .story .content h5 {
    user-select: none;
    font-style: italic;
}

article .story .content ul li {
    list-style-type: circle;
}

article .story .content #ngu {
    line-height: 1.6;
    font-style: italic;
}

.linkhd:hover {
    color: violet;
}

article .story .content #ngu li:hover {
    color: red;
}

h5:hover {
    color: orangered;
}

article .story:last-child {
    margin-right: 0%;
}

article .story .content p {
    margin-bottom: 60%;

}
    
article .story img {
    width: 250px;
    height: 250px;
    margin: 10px auto;
    border: 3px solid violet;
}

article .story .face:last-child {
    margin-left: 72px;
}

.face:hover {
    color: violet;
}

iframe {
    width: 250px;
    height: 250px;
    margin: 10px auto;
    border: 3px solid violet;
    
}

article .story h4 {
    user-select: none;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 10px;
    color: transparent;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    -webkit-background-clip: text;
}

article .story h4:hover {
    color: #ecde18;
}

footer {
    height: 40px;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

footer:hover {
    color: pink;
}
